<?xml version="1.0"?>
<robot name="root">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/unidex_core_can-38dd2a8d2c984e2b6c1cd53dbc9f7b8e_006.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00" />
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/unidex_core_can-38dd2a8d2c984e2b6c1cd53dbc9f7b8e_006.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00" />
      </geometry>
    </collision>
  </link>
</robot>