<?xml version="1.0"?>
<robot name="root">
  <link name="base_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/unidex_core_cellphone-ed0f3e1d20fc722bb0478ec258b0ea3d_008.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00" />
      </geometry>
      <material name="">
        <color rgba="7.50E-01 7.50E-01 7.50E-01 1" />
      </material>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0" />
      <geometry>
        <mesh filename="../meshes/unidex_core_cellphone-ed0f3e1d20fc722bb0478ec258b0ea3d_008.obj" scale="1.0000E+00 1.0000E+00 1.0000E+00" />
      </geometry>
    </collision>
  </link>
</robot>